<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>@ViewData["Title"] - Cleanmate</title>
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">
</head>
<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header-->
        <header class="main-header">

            <!--Header Top-->
            <div class="header-top">
                <div class="auto-container">
                    <div class="clearfix">
                        <!--Top Left-->
                        <div class="top-left pull-left">

                            <ul class="social-nav">
                                <li><a href="https://www.facebook.com/Cleanmate-114627660339637" target="_blank"><span class="fa fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            </ul>
                        </div>
                        <!--Top Right-->
                        <div class="top-right pull-right">
                            <a href="#" class="mail-us"><span class="icon flaticon-interface-1"></span> Mail Us</a>
                            <!--Search Box-->
                            <div class="search-box-outer">
                                <button class="search-box-btn dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu1">
                                    <li class="panel-outer">
                                        <div class="form-container">
                                            <form method="post" action="">
                                                <div class="form-group">
                                                    <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                    <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--Header-Upper-->
            <div class="header-upper">
                <div class="auto-container">
                    <div class="clearfix">

                        <div class="pull-left logo-box">
                            <div class="logo"><a href="#"><img src="~/images/logo.png" alt="" title=""></a></div>
                        </div>

                        <div class="pull-right upper-right clearfix">

                            <!--Info Box-->
                            <div class="upper-column info-box">
                                <div class="icon-box"><span class="flaticon-clock"></span></div>
                                <ul>
                                    <li><span>Business Hours</span> <br>Mon-Sat Day: 9am to 7pm </li>
                                </ul>

                            </div>

                            <!--Info Box-->
                            <div class="upper-column info-box">
                                <div class="language dropdownn">
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!--End Header Upper-->
            <!--Header Lower-->
            <div class="header-lower">

                <div class="auto-container">
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md">
                            <div class="navbar-header">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>

                                    @*<li class="dropdown">
                                        <a href="#">About</a>
                                        <ul>
                                            <li><a href="about.html">About Company</a></li>
                                            <li><a href="appointment.html">Make an Appointment</a></li>
                                            <li><a href="faq.html">FAQ’s</a></li>
                                            <li><a href="testimonial.html">Testimonials</a></li>
                                            <li><a href="not-found.html">404</a></li>
                                        </ul>
                                    </li>*@
                                    <li class="dropdown">
                                        <a  asp-area="" asp-controller="Services" asp-action="Contact">Services</a>
                                        <ul>
                                            <li><a asp-area="" asp-controller="Services" asp-action="OfficeCleaning">Office Cleaning</a></li>
                                            <li><a asp-area="" asp-controller="Services" asp-action="HouseKeeping">House Keeping</a></li>
                                            <li><a asp-area="" asp-controller="Services" asp-action="CarpetCleaning">Carpet Cleaning</a></li>
                                            <li><a asp-area="" asp-controller="Services" asp-action="TileCleaning">Tile Cleaning</a></li>
                                            <li><a asp-area="" asp-controller="Services" asp-action="WindowCleaning">Window Cleaning</a></li>
                                            <li><a asp-area="" asp-controller="Services" asp-action="LaundryService">Laundry Service</a></li>
                                            <li><a asp-area="" asp-controller="Services" asp-action="Disinfection">Home and Office Disinfection</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact us</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        <div class="outer-box clearfix">
                            <div class="phone-number">
                                <div class="icon-outer">
                                    <span class="icon fa fa-phone"></span>
                                </div>
                                <span class="theme_color">Phone:</span> +0 789.0123.456
                            </div>
                            <div class="appointment-box">
                                <a href="#" class="theme-btn appointment-btn"><span class="icon flaticon-calendar-1"></span>Appointment</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--End Header Lower-->
            <!--Sticky Header-->
            <div class="sticky-header">
                <div class="auto-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="#" class="img-responsive"><img src="images/logo-small.png" alt="" title=""></a>
                    </div>

                    <!--Right Col-->
                    <div class="right-col pull-right">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent1">
                                <ul class="navigation clearfix">
                                    <li class="current dropdown">
                                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="dropdown">
                                        <a asp-area="" asp-controller="Home" asp-action="About">About</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Services</a>
                                        <ul>
                                            <li><a asp-area="" asp-controller="Services" asp-action="OfficeCleaning">Office Cleaning</a></li>
                                            <li><a asp-area="" asp-controller="Services" asp-action="HouseKeeping">House Keeping</a></li>
                                            <li><a asp-area="" asp-controller="Services" asp-action="CarpetCleaning">Carpet Cleaning</a></li>
                                            <li><a asp-area="" asp-controller="Services" asp-action="TileCleaning">Tile Cleaning</a></li>
                                            <li><a asp-area="" asp-controller="Services" asp-action="WindowCleaning">Window Cleaning</a></li>
                                            <li><a asp-area="" asp-controller="Services" asp-action="LaundryService">Laundry Service</a></li>
                                            <li><a asp-area="" asp-controller="Services" asp-action="Disinfection">Home and Office Disinfection</a></li>
                                        </ul>
                                    </li>
                                  
                                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact us</a></li>
                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->
                    </div>

                </div>
            </div>
            <!--End Sticky Header-->

        </header>
        <!--End Main Header -->


        @RenderBody()

        <!--Main Footer-->
        <footer class="main-footer">
           
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="auto-container">
                    <div class="row clearfix">

                        <!--big column-->
                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-md-7 col-sm-6">
                                    <div class="footer-widget we-are-widget">
                                        <h2>Who we are</h2>
                                        <div class="text">Is a reliable cleaning company making use of eco-friendly products which not only leave the office or home sparkling clean but your environment safe.</div>
                                        <a href="#" class="read-more">read more</a>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-md-5 col-sm-6">
                                    <div class="footer-widget links-widget">
                                        <h2>Services</h2>
                                        <ul class="footer-links">
                                            <li><a href="#">Carpet Cleaning</a></li>
                                            <li><a href="#">Tile and Grout</a></li>
                                            <li><a href="#">Housekeeping</a></li>
                                            <li><a href="#">Window Cleaning</a></li>
                                            <li><a href="#">Pool Cleaning</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--big column-->
                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-md-6 col-sm-6">
                                    <div class="footer-widget links-widget">
                                        <h2>Services</h2>
                                        <ul class="footer-links">
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Testimonial</a></li>
                                            <li><a href="#">Case studies</a></li>
                                            <li><a href="#">Contact us</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-md-6 col-sm-6">
                                    <div class="footer-widget links-widget">
                                        <h2 class="alternate">+0 789.0123.456</h2>
                                        <ul class="contact-list">
                                            <li>info@cleanmate.co.za</li>
                                            <li>marketing@cleanmate.co.za</li>
                                        </ul>
                                        <ul class="social-icon-one">
                                            <li><a href="https://www.facebook.com/Cleanmate-114627660339637" target="_blank"><span class="fa fa-facebook-f"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Footer Bottom-->
            <div class="footer-bottom">

                <div class="auto-container">
                    <div class="clearfix">

                        <div class="logo-box">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="images/footer-logo.png" alt="" /></a>
                        </div>

                        <div class="pull-left">
                            <div class="copyright"> &copy;@DateTime.Now.Year All rights reserved, <br> Developed by <a href="https://www.bytereflections.co.za" target="_blank">ByteReflections</a>.</div>
                        </div>
                        <div class="pull-right">
                            <!--Scroll to top-->
                            <div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-next-5"></span></div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!--End pagewrapper-->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/script.js"></script>



    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WeClean</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - WeClean - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
             @RenderSection("Scripts", required: false)*@

</body>
</html>
