
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/3.jpg)">
    <div class="auto-container">
        <h2>About Us</h2>
    </div>
</section>
<!--End Page Title-->
<!--Client Section-->
<section class="client-section">
    <div class="image-layer" style="background-image:url(images/background/4.jpg)"></div>
    <div class="auto-container">

        <!--Upper Section-->
        <div class="upper-section">
            <div class="row clearfix">

                <!--Carousel Column-->
                <div class="carousel-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="single-item-carousel owl-carousel owl-theme">

                            <div class="slide">
                                <div class="image">
                                    <img src="~/images/resource/image-1.jpg" alt="" />
                                </div>
                            </div>

                            <div class="slide">
                                <div class="image">
                                    <img src="~/images/resource/image-1.jpg" alt="" />
                                </div>
                            </div>

                            <div class="slide">
                                <div class="image">
                                    <img src="~/images/resource/image-1.jpg" alt="" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--Content Column-->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!--Sec Title-->
                        <div class="sec-title">
                            <div class="icon-box">
                                <span class="icon flaticon-broom"></span>
                            </div>
                            <h2>We answer to the needs of our <br>clients with satistfaction guaranteed.</h2>
                            <div class="separator"></div>
                        </div>
                        <div class="text">
                            <p>We are recognized for our commitment to serving our customers while staying friendly to the environment. We have a history of excellence.</p>
                            <p>We have dedication to our clients through providing professional and high-quality cleaning services.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--Lower Section-->
        <div class="lower-section">
            <div class="row clearfix">

                <!--Services Block Three-->
                <div class="services-block-three col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <h3><a href="#">Our Core Values</a></h3>
                        <div class="text">Will be the leading provider of cleaning services by creating a positive impact on the quality of customer life.</div>
                    </div>
                </div>

                <!--Services Block Three-->
                <div class="services-block-three col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <h3><a href="#">Our Mission</a></h3>
                        <div class="text">Will be the leading provider of cleaning services by creating a positive impact on the quality of customer life.</div>
                    </div>
                </div>

                <!--Services Block Three-->
                <div class="services-block-three col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <h3><a href="#">Our Vision</a></h3>
                        <div class="text">To be the dominant residential cleaning franchise in our markets.</div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<!--End Client Section-->
<!--Featured Section Three-->
<section class="featured-section-three">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="icon-box">
                <span class="icon flaticon-broom"></span>
            </div>
            <h2>Why Choose Us</h2>
            <div class="separator"></div>
        </div>
        <div class="row clearfix">

            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="image wow bounce" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <img src="images/resource/feature-4.png" alt="" />
                </div>
            </div>

            <!--Left Column-->
            <div class="left-column order-first col-lg-3 col-md-6 col-sm-12">

                <!--Featured Block Three-->
                <div class="featured-block-three">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-staff"></span>
                        </div>
                        <h3><a href="#">Professional Staff</a></h3>
                        <div class="text">Efficient Experts</div>
                    </div>
                </div>

                <!--Featured Block Three-->
                <div class="featured-block-three">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-medal-1"></span>
                        </div>
                        <h3><a href="#">We are recognized</a></h3>
                        <div class="text">Customer Choice</div>
                    </div>
                </div>

                <!--Featured Block Three-->
                <div class="featured-block-three">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-soap"></span>
                        </div>
                        <h3><a href="#">Effective Service</a></h3>
                        <div class="text">Is Our Principle</div>
                    </div>
                </div>

            </div>

            <!--Right Column-->
            <div class="right-column order-last col-lg-3 col-md-6 col-sm-12">

                <!--Featured Block Four-->
                <div class="featured-block-four">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-benefits"></span>
                        </div>
                        <h3><a href="#">Budget Oriented</a></h3>
                        <div class="text">Low Price, More Choice</div>
                    </div>
                </div>

                <!--Featured Block Four-->
                <div class="featured-block-four">
                    <div class="inner-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-thumb-up"></span>
                        </div>
                        <h3><a href="#">100 % Satisfaction</a></h3>
                        <div class="text">Customer Never at Loss</div>
                    </div>
                </div>

                <!--Featured Block Four-->
                <div class="featured-block-four">
                    <div class="inner-box wow fadeInRight" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-vacuum"></span>
                        </div>
                        <h3><a href="#">Quality Products</a></h3>
                        <div class="text">Quality Conrol Approved</div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!--End Featured Section Three-->