@{
    ViewData["Title"] = "Home Page";
}

<!--Main Slider-->
<section class="main-slider">

    <div class="main-slider-carousel owl-carousel owl-theme">

        <div class="slide" style="background-image:url('images/main-slider/image1.jpg');  height:700px;">
            <div class="auto-container">
                <div class="content">
                    <div class="title">Referred for a reason.</div>
                    <h2>Clean Home. <br> Professional Service. <br> Fair Price.</h2>
                    <a asp-area="" asp-controller="Home" asp-action="About" class="theme-btn btn-style-one">About Us</a>
                </div>
            </div>
        </div>

        <div class="slide" style="background-image:url(images/main-slider/image2.jpg);  height:700px;">
            <div class="auto-container">
                <div class="content alternate">
                    <div class="price">$49 <span>/ Starts From</span></div>
                    <h2>Provides high <br> quality green <br> cleaning services</h2>
                    <a href="#" class="theme-btn btn-style-one">Our Services</a>
                </div>
            </div>
        </div>
 

        <div class="slide" style="background-image:url(images/main-slider/image3.jpg);  height:700px;">
            <div class="auto-container">
                <div class="content">
                    <div class="title light">Neat is our middle name</div>
                    <h2 class="light">Why should you <br> keep your windows <br> cleaned?</h2>
                    <a href="#" class="theme-btn btn-style-two">Read More</a>
                </div>
            </div>
        </div>

        <div class="slide" style="background-image:url(images/main-slider/image4.jpg);  height:700px;">
            <div class="auto-container">
                <div class="content">
                    <div class="title light">Neat is our middle name</div>
                    <h2 class="light">Why should you <br> keep your windows <br> cleaned?</h2>
                    <a href="#" class="theme-btn btn-style-two">Read More</a>
                </div>
            </div>
        </div>

    </div>
</section>
<!--End Main Slider-->
<!--Welcome Section-->
<section class="welcome-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="icon-box">
                        <span class="icon flaticon-broom"></span>
                    </div>
                    <h2>Welcome to CleanMate</h2>
                    <div class="separator"></div>
                </div>
                <div class="pull-right">
                    <div class="text">We understand the importance of making a good first impression. Same way <br> that your work environment should professional look. We invest in eco-friendly products which have been fully tried and tested to give you a spotless clean while leaving a safe environment.</div>
                </div>
            </div>
        </div>

        <div class="row clearfix">

            <!--Welcome Block-->
            <div class="welcome-block col-lg-6 col-md-12 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <a href="carpet-cleaning.html"><img src="~/images/resource/image5.jpg" alt="" /></a>
                        <div class="content-outer">
                            <div class="content">
                                <h3>Office Cleaning</h3>
                                <div class="text">We offer the best and proffesional cleaning with little disturbance to your office staff or operations.</div>
                            </div>
                            <a asp-area="" asp-controller="Services" asp-action="OfficeCleaning" class="arrow flaticon-next-5"></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Welcome Block-->
            <div class="welcome-block alternate col-lg-6 col-md-12 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <a href="carpet-cleaning.html"><img src="~/images/resource/welcome-2.jpg" alt="" /></a>
                        <div class="content-outer">
                            <div class="content">
                                <h3>Home Cleaning</h3>
                                <div class="text">Our staff is proffesional and honesty. We not only do the best spotless job but also take care of your valuables.</div>
                            </div>
                            <a asp-area="" asp-controller="Services" asp-action="HomeCleaning" class="arrow flaticon-next-5"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!--End Welcome Section-->
<!--Featured Section-->
<section class="featured-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="icon-box">
                <span class="icon flaticon-broom"></span>
            </div>
            <h2>Featured Services</h2>
            <div class="separator"></div>
        </div>
        <div class="three-item-carousel owl-carousel owl-theme">

            <!--Featured Block-->
            <div class="featured-block">
                <div class="inner-box">
                    <div class="upper-content">
                        <h3><a href="carpet-cleaning.html">Carpet Cleaning</a></h3>
                        <div class="text">Iste natus error sit voluptatem totam rem aperiam, eaque ipsa quae.</div>
                        <div class="icon-box">
                            <span class="icon flaticon-shining"></span>
                        </div>
                    </div>
                    <div class="lower-content">
                        <div class="image">
                            <a href="carpet-cleaning.html"><img src="images/resource/feature-1.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Featured Block-->
            <div class="featured-block">
                <div class="inner-box">
                    <div class="upper-content">
                        <h3><a href="tile-grout.html">Tile and Grout </a></h3>
                        <div class="text">Iste natus error sit voluptatem totam rem aperiam, eaque ipsa quae.</div>
                        <div class="icon-box">
                            <span class="icon flaticon-shining"></span>
                        </div>
                    </div>
                    <div class="lower-content">
                        <div class="image">
                            <a href="tile-grout.html"><img src="images/resource/feature-2.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Featured Block-->
            <div class="featured-block">
                <div class="inner-box">
                    <div class="upper-content">
                        <h3><a href="laundry-service.html">Laundry Service</a></h3>
                        <div class="text">Quis nostrum exercitationem ullam labori-osam, nisi ut aliquidquatur.</div>
                        <div class="icon-box">
                            <span class="icon flaticon-shining"></span>
                        </div>
                    </div>
                    <div class="lower-content">
                        <div class="image">
                            <a href="laundry-service.html"><img src="images/resource/feature-3.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Featured Block-->
            <div class="featured-block">
                <div class="inner-box">
                    <div class="upper-content">
                        <h3><a href="carpet-cleaning.html">Carpet Cleaning</a></h3>
                        <div class="text">Iste natus error sit voluptatem totam rem aperiam, eaque ipsa quae.</div>
                        <div class="icon-box">
                            <span class="icon flaticon-shining"></span>
                        </div>
                    </div>
                    <div class="lower-content">
                        <div class="image">
                            <a href="carpet-cleaning.html"><img src="images/resource/feature-1.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Featured Block-->
            <div class="featured-block">
                <div class="inner-box">
                    <div class="upper-content">
                        <h3><a href="tile-grout.html">Tile and Grout </a></h3>
                        <div class="text">Iste natus error sit voluptatem totam rem aperiam, eaque ipsa quae.</div>
                        <div class="icon-box">
                            <span class="icon flaticon-shining"></span>
                        </div>
                    </div>
                    <div class="lower-content">
                        <div class="image">
                            <a href="tile-grout.html"><img src="images/resource/feature-2.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Featured Block-->
            <div class="featured-block">
                <div class="inner-box">
                    <div class="upper-content">
                        <h3><a href="laundry-service.html">Laundry Service</a></h3>
                        <div class="text">Quis nostrum exercitationem ullam labori-osam, nisi ut aliquidquatur.</div>
                        <div class="icon-box">
                            <span class="icon flaticon-shining"></span>
                        </div>
                    </div>
                    <div class="lower-content">
                        <div class="image">
                            <a href="laundry-service.html"><img src="images/resource/feature-3.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Featured Section-->
<!--Cleaner Section-->
<section class="cleaner-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title">
            <div class="icon-box">
                <span class="icon flaticon-broom"></span>
            </div>
            <h2>Cleaning With Us</h2>
            <div class="separator"></div>
        </div>

        <!--Upper Section-->
        <div class="upper-section">
            <div class="row clearfix">

                <div class="column col-lg-6 col-md-12 col-sm-12">
                    <div class="text">
                        <p>Moppers offering cleaning services in 1950 as a small window cleaner, located near Le Pigalle in Paris, France.</p>
                        <p>Shortly after opening, founder Mitchel Sweedon offered something special cleaning backed by a 100% best carpet cleaner satisfaction guarantee. As a result, his small business flourished & many more cleaning services were added in our company.</p>
                    </div>
                </div>

                <div class="images-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="row clearfix">
                            <!--Image Column-->
                            <div class="image-column col-lg-6 col-md-6 col-sm-12">
                                <div class="image">
                                    <img src="images/resource/cleaner-1.jpg" alt="" />
                                </div>
                            </div>
                            <!--Image Column-->
                            <div class="image-column col-lg-6 col-md-6 col-sm-12">
                                <div class="image">
                                    <img src="images/resource/cleaner-2.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--Lower Section-->
        <div class="lower-section">
            <div class="row clearfix">

                <!--Video Column-->
                <div class="video-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="video-box">
                            <figure class="image">
                                <img src="images/resource/video-img.jpg" alt="">
                            </figure>
                            <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-play-arrow"></span><div class="text">About Company</div></a>
                        </div>
                    </div>
                </div>

                <!--Accordian Column-->
                <div class="accordian-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">

                        <!--Accordian Box-->
                        <ul class="accordion-box">

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn"><div class="icon-outer flaticon-tick-inside-circle"></div>Satisfaction Guaranteed.</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">Choose us because of our reputation for excellence. For more than 68 years, we've earned a name for quality and service. The homeowners we serve 100% satisfied.</div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block active-block">
                                <div class="acc-btn active"><div class="icon-outer flaticon-tick-inside-circle"></div>We Treat Your Home Like Our Home.</div>
                                <div class="acc-content current">
                                    <div class="content">
                                        <div class="text">Choose us because of our reputation for excellence. For more than 68 years, we've earned a name for quality and service. The homeowners we serve 100% satisfied.</div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn"><div class="icon-outer flaticon-tick-inside-circle"></div>Immediate, Accurate Online Quotes.</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">Choose us because of our reputation for excellence. For more than 68 years, we've earned a name for quality and service. The homeowners we serve 100% satisfied.</div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn"><div class="icon-outer flaticon-tick-inside-circle"></div>Budget Oriented.</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">Choose us because of our reputation for excellence. For more than 68 years, we've earned a name for quality and service. The homeowners we serve 100% satisfied.</div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn"><div class="icon-outer flaticon-tick-inside-circle"></div>Experienced Expert & Professional Staff.</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">Choose us because of our reputation for excellence. For more than 68 years, we've earned a name for quality and service. The homeowners we serve 100% satisfied.</div>
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<!--End Cleaner Section-->
<!--Process Section-->
<section class="process-section" style="background-image:url(images/background/1.jpg)">
    <div class="top-layer"></div>
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="icon-box">
                <span class="icon flaticon-broom"></span>
            </div>
            <h2>our Work Process</h2>
            <div class="separator"></div>
        </div>

        <!--Process Blocks-->
        <div class="process-blocks">
            <div class="clearfix row">

                <!--Process Block-->
                <div class="process-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-spray-1"></span>
                        </div>
                        <div class="number-line">
                            <div class="number">1</div>
                        </div>
                        <div class="text">Idea of denouncing pleasure and praising born.</div>
                    </div>
                </div>

                <!--Process Block-->
                <div class="process-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-brush-2"></span>
                        </div>
                        <div class="number-line">
                            <div class="number">2</div>
                        </div>
                        <div class="text">Give you a complete account of the system.</div>
                    </div>
                </div>

                <!--Process Block-->
                <div class="process-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-lotion"></span>
                        </div>
                        <div class="number-line">
                            <div class="number">3</div>
                        </div>
                        <div class="text">The great explorer of the truth, master-builder. </div>
                    </div>
                </div>

                <!--Process Block-->
                <div class="process-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-tools"></span>
                        </div>
                        <div class="number-line">
                            <div class="number">4</div>
                        </div>
                        <div class="text">Know how to pursue pleasure rationally encounter.</div>
                    </div>
                </div>

            </div>
        </div>

        <!--Fact Counter-->
        <div class="fact-counter">
            <div class="row clearfix">

                <!--Column-->
                <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                    <div class="inner">
                        <div class="content">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="4000" data-stop="2.4">0</span>K
                            </div>
                            <h4 class="counter-title">Projects Completed</h4>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                    <div class="inner">
                        <div class="content">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="2500" data-stop="1.8">0</span>K
                            </div>
                            <h4 class="counter-title">Positive Customers</h4>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                    <div class="inner">
                        <div class="content">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="4000" data-stop="236">0</span>
                            </div>
                            <h4 class="counter-title">Staff & Expert Cleaners</h4>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                    <div class="inner">
                        <div class="content">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="3000" data-stop="05">0</span>
                            </div>
                            <h4 class="counter-title">Authorised Certification</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<!--End Process Section-->
<!--Feedback Section-->
<section class="feedback-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="icon-box">
                <span class="icon flaticon-broom"></span>
            </div>
            <h2>Customers Feedback</h2>
            <div class="separator"></div>
        </div>

        <div class="feedback-carousel owl-carousel owl-theme">

            <!--Feedback Block-->
            <div class="feedback-block">
                <div class="inner-box">
                    <div class="image">
                        <a href="carpet-cleaning.html"><img src="images/resource/feedback-1.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="quote-icon">
                            <span class="icon flaticon-two-quotes"></span>
                        </div>
                        <h3><a href="carpet-cleaning.html">andrew Zachery</a></h3>
                        <div class="rating">
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                        <div class="text">“Exceptional! They did a wonder-ful job, and my home smelled so nice. Now I can't imagine being without them!”</div>
                    </div>
                </div>
            </div>

            <!--Feedback Block-->
            <div class="feedback-block">
                <div class="inner-box">
                    <div class="image">
                        <a href="carpet-cleaning.html"><img src="images/resource/feedback-2.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="quote-icon">
                            <span class="icon flaticon-two-quotes"></span>
                        </div>
                        <h3><a href="carpet-cleaning.html">Liam gabriella</a></h3>
                        <div class="rating">
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                        <div class="text">“Exceptional! They did a wonder-ful job, and my home smelled so nice. Now I can't imagine being without them!”</div>
                    </div>
                </div>
            </div>

            <!--Feedback Block-->
            <div class="feedback-block">
                <div class="inner-box">
                    <div class="image">
                        <a href="carpet-cleaning.html"><img src="images/resource/feedback-3.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="quote-icon">
                            <span class="icon flaticon-two-quotes"></span>
                        </div>
                        <h3><a href="carpet-cleaning.html">Michel Hunter</a></h3>
                        <div class="rating">
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                        <div class="text">“Exceptional! They did a wonder-ful job, and my home smelled so nice. Now I can't imagine being without them!”</div>
                    </div>
                </div>
            </div>

            <!--Feedback Block-->
            <div class="feedback-block">
                <div class="inner-box">
                    <div class="image">
                        <a href="carpet-cleaning.html"><img src="images/resource/feedback-1.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="quote-icon">
                            <span class="icon flaticon-two-quotes"></span>
                        </div>
                        <h3><a href="carpet-cleaning.html">andrew Zachery</a></h3>
                        <div class="rating">
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                        <div class="text">“Exceptional! They did a wonder-ful job, and my home smelled so nice. Now I can't imagine being without them!”</div>
                    </div>
                </div>
            </div>

            <!--Feedback Block-->
            <div class="feedback-block">
                <div class="inner-box">
                    <div class="image">
                        <a href="carpet-cleaning.html"><img src="images/resource/feedback-2.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="quote-icon">
                            <span class="icon flaticon-two-quotes"></span>
                        </div>
                        <h3><a href="carpet-cleaning.html">Liam gabriella</a></h3>
                        <div class="rating">
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                        <div class="text">“Exceptional! They did a wonder-ful job, and my home smelled so nice. Now I can't imagine being without them!”</div>
                    </div>
                </div>
            </div>

            <!--Feedback Block-->
            <div class="feedback-block">
                <div class="inner-box">
                    <div class="image">
                        <a href="carpet-cleaning.html"><img src="images/resource/feedback-3.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="quote-icon">
                            <span class="icon flaticon-two-quotes"></span>
                        </div>
                        <h3><a href="carpet-cleaning.html">Michel Hunter</a></h3>
                        <div class="rating">
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                        <div class="text">“Exceptional! They did a wonder-ful job, and my home smelled so nice. Now I can't imagine being without them!”</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!--End Feedback Section-->
