@{
    ViewData["Title"] = "Home Page";
}

<!--Main Slider-->
<section class="main-slider">

    <div class="main-slider-carousel owl-carousel owl-theme">

        <div class="slide" style="background-image:url('images/main-slider/image1.jpg');  height:700px;">
            <div class="auto-container">
                <div class="content">
                    <div class="title">Referred for a reason.</div>
                    <h2>Clean Home. <br> Professional Service. <br> Fair Price.</h2>
                    <a asp-area="" asp-controller="Home" asp-action="About" class="theme-btn btn-style-one">About Us</a>
                </div>
            </div>
        </div>

        <div class="slide" style="background-image:url(images/main-slider/image2.jpg);  height:700px;">
            <div class="auto-container">
                <div class="content alternate">
                    <div class="price">$49 <span>/ Starts From</span></div>
                    <h2>Provides high <br> quality green <br> cleaning services</h2>
                    <a href="#" class="theme-btn btn-style-one">Our Services</a>
                </div>
            </div>
        </div>
 

        <div class="slide" style="background-image:url(images/main-slider/image3.jpg);  height:700px;">
            <div class="auto-container">
                <div class="content">
                    <div class="title light">Neat is our middle name</div>
                    <h2 class="light">Why should you <br> keep your windows <br> cleaned?</h2>
                    <a href="#" class="theme-btn btn-style-two">Read More</a>
                </div>
            </div>
        </div>

        <div class="slide" style="background-image:url(images/main-slider/image4.jpg);  height:700px;">
            <div class="auto-container">
                <div class="content">
                    <div class="title light">Neat is our middle name</div>
                    <h2 class="light">Why should you <br> keep your windows <br> cleaned?</h2>
                    <a href="#" class="theme-btn btn-style-two">Read More</a>
                </div>
            </div>
        </div>

    </div>
</section>
<!--End Main Slider-->
<!--Welcome Section-->
<section class="welcome-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="icon-box">
                        <span class="icon flaticon-broom"></span>
                    </div>
                    <h2>Welcome to CleanMate</h2>
                    <div class="separator"></div>
                </div>
                <div class="pull-right">
                    <div class="text">We understand the importance of making a good first impression. Same way <br> that your work environment should professional look. We invest in eco-friendly products which have been fully tried and tested to give you a spotless clean while leaving a safe environment.</div>
                </div>
            </div>
        </div>

        <div class="row clearfix">

            <!--Welcome Block-->
            <div class="welcome-block col-lg-6 col-md-12 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <a href="carpet-cleaning.html"><img src="~/images/resource/image5.jpg" alt="" /></a>
                        <div class="content-outer">
                            <div class="content">
                                <h3>Office Cleaning</h3>
                                <div class="text">We offer the best and proffesional cleaning with little disturbance to your office staff or operations.</div>
                            </div>
                            <a asp-area="" asp-controller="Services" asp-action="OfficeCleaning" class="arrow flaticon-next-5"></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Welcome Block-->
            <div class="welcome-block alternate col-lg-6 col-md-12 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <a href="carpet-cleaning.html"><img src="~/images/resource/welcome-2.jpg" alt="" /></a>
                        <div class="content-outer">
                            <div class="content">
                                <h3>Home Cleaning</h3>
                                <div class="text">Our staff is proffesional and honesty. We not only do the best spotless job but also take care of your valuables.</div>
                            </div>
                            <a asp-area="" asp-controller="Services" asp-action="HomeCleaning" class="arrow flaticon-next-5"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!--End Welcome Section-->
<!--Featured Section-->
<section class="featured-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="icon-box">
                <span class="icon flaticon-broom"></span>
            </div>
            <h2>Featured Services</h2>
            <div class="separator"></div>
        </div>
        <div class="three-item-carousel owl-carousel owl-theme">

            <!--Featured Block-->
            <div class="featured-block">
                <div class="inner-box">
                    <div class="upper-content">
                        <h3><a href="carpet-cleaning.html">Carpet Cleaning</a></h3>
                        <div class="text">Have a tough stain that you can’t get out? Let us help! </div>
                        <div class="icon-box">
                            <span class="icon flaticon-shining"></span>
                        </div>
                    </div>
                    <div class="lower-content">
                        <div class="image">
                            <a href="carpet-cleaning.html"><img src="images/resource/feature-1.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Featured Block-->
            <div class="featured-block">
                <div class="inner-box">
                    <div class="upper-content">
                        <h3><a href="tile-grout.html">Tile and Grout </a></h3>
                        <div class="text">We help extend the life of your tile and make it look clean.</div>
                        <div class="icon-box">
                            <span class="icon flaticon-shining"></span>
                        </div>
                    </div>
                    <div class="lower-content">
                        <div class="image">
                            <a href="tile-grout.html"><img src="images/resource/feature-2.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Featured Block-->
            <div class="featured-block">
                <div class="inner-box">
                    <div class="upper-content">
                        <h3><a href="laundry-service.html">Laundry Service</a></h3>
                        <div class="text">We cater for home and office laundry offering the best clean and care for your fabrics.</div>
                        <div class="icon-box">
                            <span class="icon flaticon-shining"></span>
                        </div>
                    </div>
                    <div class="lower-content">
                        <div class="image">
                            <a href="laundry-service.html"><img src="images/resource/feature-3.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Featured Block-->
            <div class="featured-block">
                <div class="inner-box">
                    <div class="upper-content">
                        <h3><a href="carpet-cleaning.html">Home and Office Disinfection</a></h3>
                        <div class="text">Disinfection of surfaces and objects touched by multiple people in offices, schools and homes.</div>
                        <div class="icon-box">
                            <span class="icon flaticon-shining"></span>
                        </div>
                    </div>
                    <div class="lower-content">
                        <div class="image">
                            <a href="carpet-cleaning.html"><img src="images/resource/feature-1.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Featured Block-->
            <div class="featured-block">
                <div class="inner-box">
                    <div class="upper-content">
                        <h3><a href="tile-grout.html">Window Cleaning </a></h3>
                        <div class="text">Eco-friendly cleaning products that not only leave sparkles but a safe environment.</div>
                        <div class="icon-box">
                            <span class="icon flaticon-shining"></span>
                        </div>
                    </div>
                    <div class="lower-content">
                        <div class="image">
                            <a href="tile-grout.html"><img src="images/resource/feature-2.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Featured Section-->
<!--Cleaner Section-->
<section class="cleaner-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title">
            <div class="icon-box">
                <span class="icon flaticon-broom"></span>
            </div>
            <h2>Cleaning With Us</h2>
            <div class="separator"></div>
        </div>

        <!--Upper Section-->
        <div class="upper-section">
            <div class="row clearfix">

                <div class="column col-lg-6 col-md-12 col-sm-12">
                    <div class="text">
                        <p>Cleanmate is a recognised BEE enterprise with a great team and offering guaranteed quality service.</p>
                        <p>Our mission is to offer you the best cleaning and customer service. We boast of a vibrant and trustworthy team that is result driven you can call them O.C.D.</p>
                    </div>
                </div>

                <div class="images-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="row clearfix">
                            <!--Image Column-->
                            <div class="image-column col-lg-6 col-md-6 col-sm-12">
                                <div class="image">
                                    <img src="images/resource/cleaner-1.jpg" alt="" />
                                </div>
                            </div>
                            <!--Image Column-->
                            <div class="image-column col-lg-6 col-md-6 col-sm-12">
                                <div class="image">
                                    <img src="images/resource/cleaner-2.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--Lower Section-->
        <div class="lower-section">
            <div class="row clearfix">

                <!--Video Column-->
                <div class="video-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="video-box">
                            <figure class="image">
                                <img src="images/resource/video-img.jpg" alt="">
                            </figure>
                            <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-play-arrow"></span><div class="text">About Company</div></a>
                        </div>
                    </div>
                </div>

                <!--Accordian Column-->
                <div class="accordian-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">

                        <!--Accordian Box-->
                        <ul class="accordion-box">

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn"><div class="icon-outer flaticon-tick-inside-circle"></div>Satisfaction Guaranteed.</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">Choose us because of our reputation for excellence. We have earned a name for quality and service.</div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block active-block">
                                <div class="acc-btn active"><div class="icon-outer flaticon-tick-inside-circle"></div>We Treat Your Home Like Our Home.</div>
                                <div class="acc-content current">
                                    <div class="content">
                                        <div class="text">Having strangers in your space can be a challenge but with Cleanmate you can be safe that your valuables are safe and respected.</div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn"><div class="icon-outer flaticon-tick-inside-circle"></div>Immediate response.</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">We answer quick to your call and work to do an immaculate job.</div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn"><div class="icon-outer flaticon-tick-inside-circle"></div>Budget Oriented.</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">
                                            Our services are top-notch and budget agonistic. We are not here to hurt your pocket but offer value for money.
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn"><div class="icon-outer flaticon-tick-inside-circle"></div>Experienced Expert & Professional Staff.</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">We pride in a highly skilled team which is not also trustworthy but hardworking and result oriented.</div>
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<!--End Cleaner Section-->
